openapi: 3.1.0
info:
  title: ACGS-2 API
  description: |
    Advanced Constitutional Governance System (ACGS-2) API Documentation

    ACGS-2 provides enterprise-grade AI governance with:
    - Policy management and distribution
    - Multi-agent orchestration
    - Real-time security monitoring
    - Constitutional compliance enforcement

    **Constitutional Hash**: cdd01ef066bc6cf2
  version: 2.0.0
  contact:
    name: ACGS-2 Support
    email: support@acgs2.io
  license:
    name: Proprietary
    url: https://acgs2.io/license

servers:
  - url: https://api.acgs2.io/v1
    description: Production server
  - url: https://staging-api.acgs2.io/v1
    description: Staging server
  - url: http://localhost:8000/api/v1
    description: Local development server

tags:
  - name: policies
    description: Policy management and versioning
  - name: bundles
    description: Policy bundle distribution (OCI registry)
  - name: webhooks
    description: Git webhook integration for policy sync
  - name: auth
    description: Authentication and authorization
  - name: health
    description: Health checks and monitoring
  - name: agents
    description: Agent registration and management

paths:
  /policies:
    get:
      tags: [policies]
      summary: List policies
      description: List all policies with optional filtering
      operationId: listPolicies
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, active, deprecated]
          description: Filter by policy status
        - name: tenant_id
          in: query
          schema:
            type: string
          description: Filter by tenant ID
      responses:
        '200':
          description: List of policies
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Policy'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

    post:
      tags: [policies]
      summary: Create policy
      description: Create a new policy with versioning support
      operationId: createPolicy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyCreate'
      responses:
        '201':
          description: Policy created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /policies/{policy_id}:
    get:
      tags: [policies]
      summary: Get policy
      description: Get policy by ID
      operationId: getPolicy
      parameters:
        - name: policy_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Policy details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
        '404':
          $ref: '#/components/responses/NotFound'

  /bundles:
    get:
      tags: [bundles]
      summary: List bundles
      description: List policy bundles from local storage or OCI registry
      operationId: listBundles
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, pending_review, approved, published, deprecated]
        - name: repository
          in: query
          schema:
            type: string
          description: OCI repository name
      responses:
        '200':
          description: List of bundles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Bundle'

    post:
      tags: [bundles]
      summary: Upload bundle
      description: Upload a policy bundle with optional OCI registry push
      operationId: uploadBundle
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                repository:
                  type: string
                  description: OCI repository name
                tag:
                  type: string
                  default: latest
                version:
                  type: string
                revision:
                  type: string
                push_to_registry:
                  type: boolean
                  default: false
      responses:
        '201':
          description: Bundle uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle'

  /bundles/{bundle_id}:
    get:
      tags: [bundles]
      summary: Get bundle
      description: Get bundle by ID, optionally from OCI registry
      operationId: getBundle
      parameters:
        - name: bundle_id
          in: path
          required: true
          schema:
            type: string
        - name: repository
          in: query
          schema:
            type: string
        - name: reference
          in: query
          schema:
            type: string
          description: OCI tag or digest
        - name: pull_from_registry
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Bundle details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle'

  /bundles/{bundle_id}/push:
    post:
      tags: [bundles]
      summary: Push bundle to registry
      description: Push an existing bundle to OCI registry
      operationId: pushBundleToRegistry
      parameters:
        - name: bundle_id
          in: path
          required: true
          schema:
            type: string
        - name: repository
          in: query
          required: true
          schema:
            type: string
        - name: tag
          in: query
          schema:
            type: string
            default: latest
      responses:
        '200':
          description: Bundle pushed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  repository:
                    type: string
                  tag:
                    type: string
                  digest:
                    type: string

  /bundles/active:
    get:
      tags: [bundles]
      summary: Get active bundle
      description: Get the currently active bundle for a tenant
      operationId: getActiveBundle
      parameters:
        - name: tenant_id
          in: query
          required: true
          schema:
            type: string
        - name: repository
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Active bundle
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle'

  /webhooks/github:
    post:
      tags: [webhooks]
      summary: GitHub webhook
      description: Handle GitHub webhook events for policy synchronization
      operationId: githubWebhook
      parameters:
        - name: X-GitHub-Event
          in: header
          required: true
          schema:
            type: string
            enum: [push, pull_request, release]
        - name: X-Hub-Signature-256
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: GitHub webhook payload
      responses:
        '200':
          description: Webhook processed
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  event:
                    type: string
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/token:
    post:
      tags: [auth]
      summary: Request token
      description: Request an authentication token for an agent
      operationId: requestToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRequest'
      responses:
        '200':
          description: Token issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /health/live:
    get:
      tags: [health]
      summary: Liveness check
      description: Kubernetes liveness probe
      operationId: livenessCheck
      responses:
        '200':
          description: Service is alive
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  service:
                    type: string

  /health/ready:
    get:
      tags: [health]
      summary: Readiness check
      description: Kubernetes readiness probe
      operationId: readinessCheck
      responses:
        '200':
          description: Service is ready
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  service:
                    type: string

components:
  schemas:
    Policy:
      type: object
      required: [policy_id, name, tenant_id, status]
      properties:
        policy_id:
          type: string
          description: Unique policy identifier
        name:
          type: string
          description: Policy name
        tenant_id:
          type: string
          description: Tenant identifier
        status:
          type: string
          enum: [draft, active, deprecated]
        version:
          type: string
          description: Current version
        description:
          type: string
        format:
          type: string
          enum: [json, yaml, rego]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        constitutional_hash:
          type: string
          default: cdd01ef066bc6cf2

    PolicyCreate:
      type: object
      required: [name, tenant_id, content]
      properties:
        name:
          type: string
        tenant_id:
          type: string
        content:
          type: object
          description: Policy content (JSON/YAML/Rego)
        format:
          type: string
          enum: [json, yaml, rego]
          default: json
        description:
          type: string

    Bundle:
      type: object
      required: [id, version, revision, constitutional_hash]
      properties:
        id:
          type: string
          description: Bundle identifier (digest)
        version:
          type: string
          description: Semantic version
        revision:
          type: string
          description: Git revision SHA
        constitutional_hash:
          type: string
          default: cdd01ef066bc6cf2
        roots:
          type: array
          items:
            type: string
          description: OPA policy root paths
        signatures:
          type: array
          items:
            $ref: '#/components/schemas/Signature'
        size:
          type: integer
          description: Bundle size in bytes
        digest:
          type: string
          description: SHA256 digest
        metadata:
          type: object
          additionalProperties: true

    Signature:
      type: object
      required: [keyid, sig, alg]
      properties:
        keyid:
          type: string
          description: Key identifier
        sig:
          type: string
          description: Base64-encoded signature
        alg:
          type: string
          enum: [ed25519, rsa-pss-sha256, ecdsa-p256-sha256]
        timestamp:
          type: string
          format: date-time
        signer:
          type: string
        scope:
          type: string
          enum: [author, reviewer, approver, release]

    TokenRequest:
      type: object
      required: [agent_id, tenant_id, capabilities]
      properties:
        agent_id:
          type: string
          minLength: 1
          maxLength: 100
        tenant_id:
          type: string
          minLength: 1
          maxLength: 100
        capabilities:
          type: array
          items:
            type: string
          minItems: 1
          maxItems: 50

    TokenResponse:
      type: object
      required: [token, expires_at]
      properties:
        token:
          type: string
          description: JWT token
        expires_at:
          type: string
          format: date-time
        agent_id:
          type: string
        tenant_id:
          type: string

    Error:
      type: object
      required: [detail]
      properties:
        detail:
          type: string
        error_code:
          type: string
        constitutional_hash:
          type: string
          default: cdd01ef066bc6cf2

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            detail: "Invalid request parameters"
            error_code: "INVALID_REQUEST"

    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            detail: "Authentication required"
            error_code: "UNAUTHORIZED"

    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            detail: "Insufficient permissions"
            error_code: "FORBIDDEN"

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            detail: "Resource not found"
            error_code: "NOT_FOUND"

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token authentication

security:
  - BearerAuth: []
